# Auto detect text files and perform LF normalization
* text=auto
*.unity3d filter=lfs diff=lfs merge=lfs -text
git[[:space:]]lfs[[:space:]]track[[:space:]]*.unity3d
git[[:space:]]lfs[[:space:]]track[[:space:]]*.unity3d filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
